@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Imperial+Script&display=swap');

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

h1, h2, h3 {
    font-family: "Chelsea Market", "Bauhaus 93", "Futura","Arial Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1.fancy {
    font-family: 'Edwardian Script ITC', "Savoye LET Plain", "Brush Script MT", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5em;
}

.imperial-script-regular {
    font-family: "Imperial Script", 'Edwardian Script ITC', "Savoye LET Plain", "Brush Script MT", cursive;
    font-weight: 400;
    font-style: normal;
}

title {
    font-family: "Imperial Script",'Edwardian Script ITC', "Savoye LET Plain", "Brush Script MT", cursive;
    font-weight: 400;
    font-style: normal;
}
