@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Imperial+Script&family=Sono:wght@200..800&display=swap');
body {
    font-family: "Century Gothic","Optima", Verdana, Geneva, Tahoma, sans-serif
}

.dataTable, .ui-tabs-anchor, .dt-length label, .dt-info, .dt-paging-button, .dt-search label {
    font-family: "Century Gothic","Optima", Verdana, Geneva, Tahoma, sans-serif !important;
}

h1, h2, h3 {
    font-family: "Chelsea Market", "Bauhaus 93", "Futura","Arial Black", sans-serif;
    font-weight: 400 !important;
    font-style: normal;
}

h1.fancy {
    font-family: "Imperial Script", 'Edwardian Script ITC',"Savoye LET", "Brush Script MT", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5em;
}

.fancy-title {
    font-family: "Imperial Script", 'Edwardian Script ITC',"Savoye LET", "Brush Script MT", cursive;
    font-weight: 400;
    font-style: normal;    
}

h1.fancy-title {
    font-size: 2.8em;
}

.imperial-script-regular {
    font-family: "Imperial Script", 'Edwardian Script ITC', "Savoye LET", "Brush Script MT", cursive;
    font-weight: 400;
    font-style: normal;
}

span.fancy-title {
    font-size: 1.9em;
}

.monospace {
    font-family: "Sono", "Cascadia Mono", "Menlo", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

input, textarea, fieldset, legend, datalist, select, output, option, optgroup {
    font-family: "Sono", Courier, monospace !important;
    font-optical-sizing: auto;
    font-weight: 250;
    font-style: normal;
}

.bigger {
    font-size: 1.3em;
}

#outer-links {
    border-top: 1px solid black;
    display: inline-block;
}

h1 ~ #outer-links, h2 ~ #outer-links, h3 ~ #outer-links {
    margin-top: -25px;
}

hr {
    margin: 7px 0 7px 0;
}


