@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Imperial+Script&family=Sono:wght@200..800&display=swap');
body {
    font-family: "Century Gothic","Optima", Verdana, Geneva, Tahoma, sans-serif
}

.dataTable, .ui-tabs-anchor, .dt-length label, .dt-info, .dt-paging-button, .dt-search label {
    font-family: "Century Gothic","Optima", Verdana, Geneva, Tahoma, sans-serif !important;
}

h1, h2, h3 {
    font-family: "Chelsea Market", "Bauhaus 93", "Futura","Arial Black", sans-serif;
    font-weight: 400 !important;
    font-style: normal;
}

h1.fancy {
    font-family: "Imperial Script", 'Edwardian Script ITC',"Savoye LET", "Brush Script MT", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5em;
}

.fancy-title {
    font-family: "Imperial Script", 'Edwardian Script ITC',"Savoye LET", "Brush Script MT", cursive;
    font-weight: 400;
    font-style: normal;    
}

h1.fancy-title {
    font-size: 2.8em;
}

.imperial-script-regular {
    font-family: "Imperial Script", 'Edwardian Script ITC', "Savoye LET", "Brush Script MT", cursive;
    font-weight: 400;
    font-style: normal;
}

span.fancy-title {
    font-size: 1.9em;
}

.monospace {
    font-family: "Sono", "Cascadia Mono", "Menlo", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

input, textarea, fieldset, legend, datalist, select, output, option, optgroup {
    font-family: "Sono", Courier, monospace !important;
    font-optical-sizing: auto;
    font-weight: 250;
    font-style: normal;
}

.bigger {
    font-size: 1.3em;
}

#outer-links {
    border-top: 1px solid black;
    display: inline-block;
}

#outer-links ul::marker {
    content: "꩜";
    font-size: 1.2em;
}

h1 ~ #outer-links, h2 ~ #outer-links, h3 ~ #outer-links {
    margin-top: -23px;
}

hr {
    margin: 7px 0 7px 0;
}

/* https://css-tricks.com/examples/hrs/ */
hr.style-8 {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333 !important;
    color: #333;
    text-align: center;
}

hr.style-8:after {
    content: "§" !important;
    display: inline-block! important;
    position: relative !important;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

hr.style-9 {
    border-top: solid 2px black !important;
    border-bottom: double 3px black !important;
    border-left-width: 0;
    border-right-width: 0;

    height: 3px;
}

hr.style-10 {
    border-top: solid 2px black !important;
    border-bottom: double 3px black !important;
    border-left-width: 0;
    border-right-width: 0;
    height: 3px;
    margin: 1.5em 0;
}

hr.style-10:after {
    content: "꩜" !important;
    color: white;
    border-radius: 40%;
    display: inline-block! important;
    position: absolute !important;
    left: 50%;
    translate: 0 -22px;
    font-size: 1.25em;
    padding: 0 0.25em;
    background: black;
}


