body {
    font-family: 'Century Gothic','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dt-buttons span, .dt-paging-button {
    font-family: 'Bangers','LetterOMatic!','Marker Felt', 'Impact', sans-serif;
    font-weight: 500;
}

.dt-buttons span {
    font-size: 1.75em;
}


.dt-paging-button {
    font-size: 1.2em;
    font-family: 'Bangers' ,'LetterOMatic!','Marker Felt', 'Impact', sans-serif;
}

.tag-box li {
    font-family: "Unica One",'Huxley Titling','SF Movie Poster','Impact',sans-serif;
}

h1 {
    font-family: 'Bangers' ,'LetterOMatic!','Marker Felt', 'Impact', sans-serif;
    font-weight: 400;
    }

#loading-text {
    font-family: 'Bangers','LetterOMatic!','Marker Felt', 'Impact', sans-serif;
    }

input[type="search" i] {
    font-family: 'Izayoi Monospaced', 'Syne Mono', 'Courier-New', 'Courier', monospace;
    font-size: 1em;
}

.ui-progressbar-value {
    background: #B76E79;
}
