#thumbnail-search-panel {
    width: 780px;
    margin-left: auto;
    margin-right: auto;
}

.img-lookup-2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}


.image-box {
    margin-top: 10px;
    width: 300px;
    height: 300px;
    border: 2px solid #BEBEBE;
    border-radius: 3px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 3;
}

.image-box-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%
}

.form-holder {
    display: none;
    margin: 10px;
    flex: 2 2 0;
    align-self: flex-end;
    flex-basis: 0;
    order: 2;
}

.form-holder select {
    font-size: 1.2em;
}

.title-box {
    width: 250px;
    flex: 2 2 0;
    flex-basis: 0;
    order: 1;
}

input {
    margin: 4px;
}

.drop-id {
    width: 150px;
}

.left-column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 2 2 0;
}

select option {
    font-size: 1em !important;
}

#contain-all {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 100vh;
}

.side {
    width: 50%;
    height: 100%;
}

iframe {
    width: 100%;
    height: 100%;
}

.visit {
    text-align: right;
    font-size: 1.2em;
}

.dt-type-numeric .sorting_1 a {
    color: purple;
}
