ul.nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

ul.nav li {
    display: flex;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-width: 0 2px;
    border-style: dotted;
    border-color: white silver;
}

.cut-off {
    border-width: 1px 0 1px 0;
    border-color: #A9A9A9;
    border-style: dashed;
}

ul.nav li:first-of-type {
    border-width: 0 2px 0 0; 
    
}

ul.nav li:last-of-type {
    border-width: 0 0 0 2px; 
    
}

ul.nav-2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    
}

.nav-2::marker {
    list-style-type: circle;
}

ul.nav-2 li {
    display: list-item;
    list-style-position: inside;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-width: 0 2px;
}

.front-nav .nav-2 li {
    list-style-position: outside;
}

ul.nav-2 li::marker {
    color: #A9A9A9;
}

.nav-2 li:first-of-type::marker {
    content: "" !important;
    display: none;
}

ul.nav a, ul.nav-2 a {
    color: mediumpurple;
}

.front-nav .nav-2 li {
    padding: 15px;
}

.front-nav {
    font-family: "Chelsea Market", "Bauhaus 93", "Futura","Arial Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4em;
}

h1 ~ .cut-off, h2 ~ .cut-off, h3 ~ .cut-off {
    margin-top: -25px;
}