/* Note: ODD increments are lighter while EVEN is darker; the rows are offset by 1, which is because of the top row. */


table.dataTable thead > tr > th.dt-orderable-asc {
    text-shadow: 1px 1px 2px rgba(165, 42, 42, 0.5);
}


table.dataTable thead tr > .dtfc-fixed-start {
    background-color: #b3633d;
    color: #FFF1D7;
    text-shadow: 1px 1px 2px rgba(165, 42, 42, 0.5);
}

tr:nth-child(odd) {
    background-color: #FFB26F;
}

table.dataTable.display > tbody > tr:nth-child(even) > .sorting_1 {
    mix-blend-mode: color-burn;
}

table.dataTable.display > tbody > tr:nth-child(odd) > .sorting_1 {
    mix-blend-mode: multiply;
}

/* Blue tag li elements, on the lighter stripes.*/
tr:nth-child(odd) .sorting_1:has(>.tag-box) {
    mix-blend-mode: exclusion !important;
}

tr:nth-child(odd) .sorting_1 .no-data {
    color: black !important;
    mix-blend-mode: multiply;
}

table.dataTable.stripe > tbody > tr:nth-child(odd) > *, table.dataTable.display > tbody > tr:nth-child(odd) > * {
    box-shadow: inset 0 0 0 9999px rgba(250, 186, 95, 0.05) !important;
}

/* Checkmarks and Xs for true/false */
tr:nth-child(even) .sorting_1 .pop {
    filter: brightness(25%) contrast(1.35);
}

table.dataTable.stripe > tbody > tr:nth-child(even) > *, table.dataTable.display > tbody > tr:hover {
    filter: brightness(110%);
}

table.dataTable tbody tr:nth-child(odd) > .dtfc-fixed-start {
    background-color: #FFB26F;
}

table.dataTable tbody tr:nth-child(even) > .dtfc-fixed-start {
    background-color: #DE8F5F;
}

table.dataTable tbody tr > .dtfc-fixed-start {
    border-left: none;
}

.ui-progressbar-value {
    background: orange !important;
}

/* Where the asset ID links are */
table.dataTable.display > tbody > tr a {
    color: #FDE897;
}

table.dataTable.display > tbody > tr:nth-child(even) > .sorting_1 a {
    color: #800020;
}

#myTable tr {
    background-color: #FFF1D7
}

    #myTable tr td:nth-child(3) {
        border-right: 1px solid rgba(165, 42, 42, 0.4);
    }

table.dataTable > thead > tr > th, table.dataTable > thead > tr > td {
    border-bottom-width: 2px;
    border-bottom-color: rgba(165, 42, 42, 0.4) !important;
}

.tag-box li {
    border: 1px solid #DE8F5F;
    background-color: #FFF1D7;
    background: linear-gradient(to left, #FFB38E, #FFCF9D);
    text-shadow: 1px 1px 2px #fcf9ed;
}

#myTable_wrapper button {
    background: radial-gradient(#FFB38E, #b3633d);
    color: #FFF1D7 !important;
    border-radius: 20px;
    text-shadow: 1px 1px 2px #b3633d;
}

table.dataTable.row-border > tbody > tr > *, table.dataTable.display > tbody > tr > * {
    border-top: 1px solid rgba(165, 42, 42, 0.4) !important;
}

#myTable_wrapper button:hover {
    filter: brightness(120%);
}

.dt-paging-button {
    color: #FFF1D7 !important;
    text-shadow: 1px 1px 2px #b3633d;
}

.no-data {
    color: #831717;
    mix-blend-mode: multiply;
}

.pop-2 {
    color: blue;
}


/*
    #FFB38E
*/
