/* Note: ODD increments are lighter while EVEN is darker; the rows are offset by 1, which is because of the top row. */


table.dataTable thead > tr > th.dt-orderable-asc {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}


table.dataTable thead tr > .dtfc-fixed-start {
    background-color: #692C6C;
    color: #BD5983;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/* Firebrick: rgba(178, 34, 34, 0.5)   rgba(146, 51, 102, 0.5)*/

tr:nth-child(odd) {
    background-color: #923366;
}

table.dataTable.display > tbody > tr:nth-child(even) > .sorting_1 {
    mix-blend-mode: color-burn;
}

table.dataTable.display > tbody > tr:nth-child(odd) > .sorting_1 {
    mix-blend-mode: multiply;
}

/* Blue tag li elements, on the lighter stripes.*/
tr:nth-child(odd) .sorting_1:has(>.tag-box) {
    mix-blend-mode: exclusion !important;
}

tr:nth-child(odd) .sorting_1 .no-data {
    color: black !important;
    mix-blend-mode: multiply;
}

table.dataTable.stripe > tbody > tr:nth-child(odd) > *, table.dataTable.display > tbody > tr:nth-child(odd) > * {
    box-shadow: inset 0 0 0 9999px rgba(221, 144, 187, 0.1) !important;
}

/* Checkmarks and Xs for true/false */
tr:nth-child(even) .sorting_1 .pop {
    filter: brightness(25%) contrast(1.35);
}

table.dataTable.stripe > tbody > tr:nth-child(even) > *, table.dataTable.display > tbody > tr:hover {
    filter: brightness(110%);
}

.dt-column-title {
    color: pink;
}

.dtfc-fixed-start .dt-column-title {
    color: #da70b3;
}

table.dataTable tbody tr:nth-child(odd) > .dtfc-fixed-start {
    background-color: #923366;
}

table.dataTable tbody tr:nth-child(even) > .dtfc-fixed-start {
    background-color: #BD5983;
}

table.dataTable tbody tr > .dtfc-fixed-start {
    border-left: none;
}

.ui-progressbar-value {
    background: #AA336A !important;
}

/* Where the asset ID links are */
table.dataTable.display > tbody > tr a {
    color: navajowhite;
}

table.dataTable.display > tbody > tr:nth-child(even) > .sorting_1 a {
    color: #800020;
}

#myTable tr {
    background-color: #FFEBF5;
}

    #myTable tr td:nth-child(3) {
        border-right: 1px solid rgb(170, 51, 106, 0.4);
    }

table.dataTable > thead > tr > th, table.dataTable > thead > tr > td {
    border-bottom-width: 2px;
    border-bottom-style: outset;
    border-bottom-color: rgb(170, 51, 106, 0.4) !important;
}

/*fuschia is #FF00FF, #9932CC is darkorchid */
.tag-box li {
    border: 1px inset #c02b56;
    background-color: #BD5983;
    background: linear-gradient(to left, #BD5983, #923366);
    text-shadow: 1px 1px 2px indigo;
    color: #F3CFC6;
}

#myTable_wrapper button {
    background: radial-gradient( #BD5983, #923366);
    color: #F3CFC6 !important;
    border-radius: 20px;
    text-shadow: 1px 1px 2px indigo;
}



table.dataTable.row-border > tbody > tr > *, table.dataTable.display > tbody > tr > * {
    border-top: 1px solid rgb(170, 51, 106, 0.4) !important;
}

#myTable_wrapper button:hover {
    filter: brightness(120%);
}

.dt-paging-button {
    color: pink !important;
    text-shadow: 1px 1px 2px indigo;
}

.no-data {
    color: #831717;
    mix-blend-mode: multiply;
}

/* For "notes" marker */
.pop-2 {
    color: #6DCC99;
}

/* Change "if" statement's font color in the callbacks for the data table if this color is changed! */
.asset-span {
    color: pink;
}
/*
    #FFB38E
*/
